body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alert-shown {
  transition: all 2s linear;
  animation-name: slide-opacity;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.alert-hidden {
  height: 0;
  opacity: 0;
}

@keyframes slide-opacity {
  0% {
    transform: translate(0, -50px);
    opacity:.1
  }
  100% {
    transform: translate(0, 0);
    opacity:1
  }
}

@keyframes slide {
  0% {
    transform: translate(0, -50px);
    opacity:1
  }
  100% {
    transform: translate(0, 0);
    opacity:1
  }
}